*{
    font-family: 'Secular One', sans-serif;
    margin: 0;
}
.navbar {
    background-color: #333;
}
.navbar nav ul {
    list-style-type: none;
    background-color: #333;
    
}
.navbar nav ul li {
    display: inline-block;
    flex-direction: column;
    padding: 40px;
}
.navbar nav ul li a {
    color: bisque;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}
.logo {
    font-size: 40px;
    color: aqua;
    text-decoration: none;

}
.navbar ul li :hover {
    color: chartreuse;
    font-style: oblique;
}
.contact ul li {
    text-align: center;
    list-style-type: none;
    padding: 10px;
}
.contact ul li :hover {
    color: black;
    font-size: 25px;
}
.contact ul li a {
    text-decoration: none;
    color: rgb(250, 81, 81);
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
}
footer {
    padding: 20px;
    background-color: #363636;
    color: #fff;
    font-size: 20px;
    text-align: center;
}