*{
    font-family: 'Secular One', sans-serif;
    margin: 0;
}
.navbar {
    background-color: #333;
}
.navbar nav ul {
    list-style-type: none;
    background-color: #333;
    
}
.navbar nav ul li {
    display: inline-block;
    flex-direction: column;
    padding: 40px;
}
.navbar nav ul li a {
    color: bisque;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}
.logo {
    font-size: 40px;
    color: aqua;
    text-decoration: none;

}

.navbar ul li :hover {
    color: chartreuse;
    font-style: oblique;
}
.container {
    background-color: darkgrey;
}
.container ul li {
    padding: 10px;
    list-style-type: decimal;
}
table th {
    transform: translateX(120px);
}
table, th, td{
    border: 1px solid #000;
}
th, td {
    padding: 10px;
}
th {
    background-color: gold;
}
td {
    background-color: green;
    color: aqua;
}
footer {
    padding: 20px;
    background-color: #363636;
    color: #fff;
    font-size: 20px;
    text-align: center;
}